.ico {
    height: 205px;
}

.comic {
    text-align: center;
}

.hero_bg {
    height: 500px;
    background-image: url(../img/jumbotron.jpg);
    position: relative;
}

.menu li a:hover {
    text-decoration: none !important;
}

.single {
    width: 300px;
}

main {
    margin-top: -25px;
}

.card_container {
    background-color: rgba(28, 28, 28, 1);
}

p {
    color: white;
}

.comics {
    padding-top: 3rem;
    position: relative;
}

.current {
    position: absolute;
    bottom: -26px;
    left: 408px;
}

.series {
    padding: 10px 20px;
    background-color: rgba(2, 130, 249, 1);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.center {
    position: absolute;
    right: 50%;
    bottom: 10px;
}

.card_img {
    display: Flex;
    height: 30vh;
    background-color: rgba(2, 130, 249, 1);
}

.ico {
    width: 120px;
}

.ico_section {
    display: Flex;
}

.par {
    width: 40px;
}

.btn_search {
    border-bottom: 3px solid black;
}

.single_show {
    height: 600px;
    margin-bottom: 3rem;
    position: relative;
}

.img_single {
    width: 50%;
}

.single {
    width: 200px;
    position: absolute;
    top: -380px;
    left: 0;
}

.full {
    margin-left: -15px;
    height: 10vh;
    background-color: rgba(2, 130, 249, 1);
    position: absolute;
    bottom: 0;
}

.thumb {
    height: 10vh;
}

.card_info {
    width: 100%;
}

.left {
    width: 50%;
    padding: 10px;
}

.right {
    display: Flex;
    align-items: center;
    width: 14%;
}

.title {
    color: rgba(4, 120, 189, 1)
}

.description {
    color: rgba(69, 74, 78, 1);
}

.description_card {
    width: 65%;
}