.ico {
    height: 205px;
}

.comic {
    text-align: center;
}

.hero_bg {
    height: 500px;
    background-image: url(../img/jumbotron.jpg);
    position: relative;
}

.menu li a:hover {
    text-decoration: none !important;
}

.single {
    width: 300px;
}

main {
    margin-top: -25px;
}

.card_container {
    background-color: rgba(28, 28, 28, 1);
}

p {
    color: white;
}

.comics {
    padding-top: 3rem;
    position: relative;
}

.current {
    position: absolute;
    bottom: -26px;
    left: 408px;
}

.series {
    padding: 10px 20px;
    background-color: rgba(2, 130, 249, 1);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.center {
    position: absolute;
    right: 50%;
    bottom: 10px;
}

.card_img {
    display: Flex;
    height: 30vh;
    background-color: rgba(2, 130, 249, 1);
}

.ico {
    width: 120px;
}

.ico_section {
    display: Flex;
}

.par {
    width: 40px;
}

.btn_search {
    border-bottom: 3px solid black;
}

.single_show {
    background-color: rgb(105, 103, 102);
    box-sizing: 0 0 0 9px solid black;
    height: 600px;
    margin-bottom: 3rem;
}

.img_single {
    width: 50%;
}

.text_single {
    width: 50%;
}

.price {
    border-bottom: 1px solid red;
}